/*******Plat menu******/

@keyframes plat {
   0%{
      opacity: 0;
   }
   25%{
      opacity: 0.2;
   }
   50%{
      opacity: 0.4;
   }
   75%{
      opacity: 0.8;
   }
   100%{
      opacity: 1;
   }
}


.entree{
      animation-name: plat;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      }

.plat{
     animation-name: plat;
     animation-duration: 3s;
     animation-timing-function: linear;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
     }

.dessert{
     animation-name: plat;
     animation-duration: 5s;
     animation-timing-function: linear;
   }

/*********Menu check*****/

.choix__valid{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 10%;
     height: 100%;
     background-color: $tertiary-color;
     border-radius: 0 15px 15px 0;
     transform-origin: 100%;
     scale: 0 1;
     transition-property: display scale;
     transition-duration: 0.5s;
     transition-behavior: allow-discrete;
     display: none;
   
 }
 
 .icone__check{
     display: flex;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: white;
     justify-content: center;
     align-items: center;
     color: $tertiary-color;
     font-size: 14px;
  }
    
 .button:hover .choix__valid{
     display: block;
     display: flex;
     justify-content: center;
     align-items: center;
     scale: 1 1;
     @starting-style {
     scale: 0 1;
     }
  }

  /********Coeur***************/

  .cont__icone{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    align-items: start;
    margin: 20px 0 0 0;
    img{
      transition: opacity 2s linear;
    }
}

.heart-white{
   display: flex;
   position: absolute;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.heart-color{
  display: flex;
  position: absolute;
  width: 31px;
  height: 32px;
  z-index: 1;
}

.heart-white:hover{
opacity: 0;
}


/******Loader********/

@keyframes flip {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
}






.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: solid;
}

.flipping-cards {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.card {
    width: 60px;
    height: 80px;
    background: linear-gradient(182deg,rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 60%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Shrikhand", serif;
    font-weight: bold;
    border-radius: 4px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation: flip 2s infinite;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.3s;
}

.card:nth-child(3) {
    animation-delay: 0.6s;
}

.card:nth-child(4) {
    animation-delay: 0.9s;
}

.card:nth-child(5) {
    animation-delay: 1.2s;
}

.card:nth-child(6) {
    animation-delay: 1.5s;
}

.card:nth-child(7) {
    animation-delay: 1.8s;
}

.card:nth-child(8) {
    animation-delay: 2.1s;
}



.loader-container{
  position: absolute;
  background: white;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.dot{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(182deg,rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 60%);
  color: white;
  font-family: "Shrikhand", serif;
  font-size: 50px;
  margin: 0 15px;
  animation: loader infinite 0.5s alternate;
}

.d1{
  animation-delay: 0.05s;
}
.d2{
  animation-delay: 0.1s;
}
.d3{
  animation-delay: 0.15s;
}
.d4{
  animation-delay: 0.20s;
}
.d5{
  animation-delay: 0.25s;
}
.d6{
  animation-delay: 0.30s;
}
.d7{
  animation-delay: 0.35s;
}
.d8{
  animation-delay: 0.40s;
}
.d9{
    animation-delay: 0.45s;
}


@keyframes loader {
  100%{
    transform: translateY(-50px);
  }
}