@mixin button-style{
   display: flex;
   width: 350px;
   height: 70px;
   border-radius: 15px;
   border: none;
   background-color: $bg-button-color;
   box-shadow : 2px 5px 15px rgb(183, 183, 183) ;
}

@mixin button-multi{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 50px;
   padding: 0 20px 0 20px;
   font-size: 16px;
   background: linear-gradient(182deg,rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 60%);
   color: white;
   border-radius: 35px;
   text-decoration: none;
    
}