/* footpage */

.footpage{
    width: 100%;
    height: 250px;
    color: white;
    display: flex;
    position: absolute;
    top: 1600px;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-footer-color;
    
}

.footpage__title{
    display: flex;
    width: 20%;
    height: 20%;
   
        h4{
        display: flex;
        align-items: center;
        height:100%; 
        font-family: "Shrikhand", serif;
        letter-spacing: 1px;
        margin-left: 20px;
       
        
    }
   }

.footpage__list{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 80%;
   
    .list__menu{
       display: flex;
       width: 100%;
       flex-direction: column;
       list-style-type: none;
       padding-left: 0;
       padding-left: 20px;
       
    }li{
        display: flex;
        width: 100%;
       i{
        display: flex;
        justify-content: start;
        align-items: center;
       }     
       }
    }
   

.menu__text {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 1.7;
}

.footpage__list i {
    color: white;
    width: 30px;
    height: 30px;
}

