

/******Logo******/
@mixin header {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: white;
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 30px;
     }
     img{
        width: 150px;
     }

}

/*******Icone fleche*******/
@mixin icone-fleche{
   display: flex;
   position: relative;
   height: 30px;
   justify-content: center;
   align-items: center;
   .icone__arrow{
      display: flex;
      position: absolute;
      right: 50px;
      bottom: 5px;
      width: 20px;
      height: 20px;
   }
}
