

/******Logo******/
@mixin header-mobile {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: white;
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 30px;
      }
     img{
        width: 150px;
     }

}

@mixin header-pc {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: white;
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 30px;
      }
     img{
        width: 200px;
     }

}
/*******Icone fleche*******/
@mixin icone-fleche{
   display: flex;
   width: 10%;
   height: 30px;
   justify-content: center;
   align-items: center;
   .icone__arrow{
      display: flex;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      
   }
}
