
/*******général*******/

@import '_variables.scss';
@import '_buttons.scss';
@import '_animations.scss';
@import '_footpage.scss';
@import '_header.scss';
@import '_querys.scss';


p{
    margin: 0;
    padding: 0;
}

html{
   background-color: white;
   display: flex;
   justify-content: center;
}

body{
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

/*****restaurant page*****/

.container-restaurant{
   position: relative;
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

/*******header*******/

.intro{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 height : 350px;
}
.container-logo{
    display: flex;
    width: 100%;
}

.intro__logo{
  @include header-mobile();
}

.intro__icone{
@include icone-fleche();
}

.intro__img{
    display: flex;
    width: 100%;
    height: 80%;
   img{
      display: flex;
      width: 100%;
      object-fit: cover;
     }
}

/*******Title restaurant*******/


.restaurant{
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1300px;
  background-color: $bg-menu-color;
  border-radius: 50px 50px 0 0;
   .restaurant__title{
     display: flex;
     width: 100%;
     margin-right: 40px;
     justify-content: space-around;
     align-items: center;
   } h2{
        display: flex;
        font-family: "Shrikhand", cursive;
        font-size: 28px;
        margin-top: 30px;
        margin-right: 20px;
        }
}



/********Menu restaurant*******/

.restaurant__menu{
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 350px;
  
}
/*******Menu title*******/
.menu__title{
      display: flex;
      width: 90%;
      height: 20%;
      flex-direction: column;
      justify-content: center;
     .title{
        height: 30px;
        display: flex;
        align-items: center;
      
     }  h3{
          display: flex;
          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;
        
         }.tiret{
             display: flex;
             width: 40px;
             height: 3px;
             margin-bottom: 20px;
             background-color: $tertiary-color;
            }
 
}
  
     /*********Menu********/
.button{
   @include button-style();
}

.list__plat{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 70%;
   gap: 15px;
     .plat__choix{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 30%;
     } a{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       text-decoration: none;
       color: black;
      } .choix__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 85%;
        margin-left: 10px;  
          }.title__plat{
           width: 70%;
           display: flex;
           min-width: 0;
           align-items: center;
           height: 25px;
           font-size: 18px;
           white-space: nowrap;
          h4{
               font-size: 13px;
               overflow: hidden;
               white-space: nowrap;
               text-overflow: ellipsis;
          }  
          
          }
            .text__plat{
                width: 80%;
                display: flex;
                min-width: 0;
                align-items: center;
                p{
                   font-size: 12px;
                   overflow: hidden;
                   white-space: nowrap;
                   text-overflow: ellipsis;
                }
          }    
       .choix__price{
                  display: flex;
                  width: 10%;
                  align-items: end;
                  margin-right: 5px;
                  height: 60px;
                  font-size: 16px;
                  font-weight: bold;
             }
    
   }    



/*********Bouton commander*****/

.commander{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    a{
        text-decoration: none
    }
}

.commander__button{
    @include button-multi;
}



@media screen and (min-width: 768px) {
 /********Général*****/
 
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-restaurant {
    width: 870px;
    display: flex;
    }
  
    .restaurant{
       width: 80%;
      .restaurant__title{
        justify-content: center;
        align-items: center;
        margin: 0;
        }.cont__icone{
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

      }
    }
 .menu__title{
  width: 60%;
 }
 .button{
  width: 60%;
 }
 
 
  /**********Footer********/
  .footpage{
    flex-direction: row-reverse;
    justify-content: end;
    width: 100%;
    height: 80px;
    align-items: end;
   
 }
 .footpage__title{
    align-items: end;
    width: 15%;
    height: 100%;
        h4{
        display: flex;
        align-items: end;
        height: 100%; 
        font-family: "Shrikhand", serif;
         } letter-spacing: 1px;
 }
 .footpage__list{
     width: 600px;
     height: 100%;
     justify-content: end;
     .list__menu{
        display: flex;
        width: 100%;
        height: 40%;
        align-items: start;
        flex-direction: row;
        list-style-type: none;
        padding:0;
        margin: 0;
        margin-bottom: 15px;
       }a{
        display: flex;
        justify-content: center;
        align-items: baseline;
        white-space: nowrap;
        margin-left: 20px;
       }
}
.footpage__list i {
    display: flex;
    width: 10%;
    margin-bottom: 7px;
    align-items: baseline;
    justify-content: center;
    color: white;
}

.menu__text {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 1.7;
}


}

@media screen and (min-width: 1024px) {
  .container-restaurant{
    width: 1124px;}
  .restaurant{
    width: 80%;
  }  
  }

@media screen and (min-width:1400px){
    .container-restaurant{
        width: 1500px;
    }
   .restaurant{
    width: 80%;
   } 
}







