/*******Plat menu******/

@keyframes plat {
   0%{
      opacity: 0;
   }
   25%{
      opacity: 0.2;
   }
   50%{
      opacity: 0.4;
   }
   75%{
      opacity: 0.8;
   }
   100%{
      opacity: 1;
   }
}


.entree{
      animation-name: plat;
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      }

.plat{
     animation-name: plat;
     animation-duration: 3s;
     animation-timing-function: linear;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
     }

.dessert{
     animation-name: plat;
     animation-duration: 5s;
     animation-timing-function: linear;
   }

/*********Menu check*****/

.choix__valid{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 10%;
     height: 100%;
     background-color: $tertiary-color;
     border-radius: 0 15px 15px 0;
     transition-delay: 0.2s;
     transform-origin: 100%;
     scale: 0 1;
     transition-property: display scale;
     transition-duration: 0.5s;
     transition-behavior: allow-discrete;
     display: none;
   
 }
 
 .icone__check{
     display: flex;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: white;
     justify-content: center;
     align-items: center;
     color: $tertiary-color;
     font-size: 14px;
  }
    
 .button:hover .choix__valid{
     display: block;
     display: flex;
     justify-content: center;
     align-items: center;
     scale: 1 1;
     @starting-style {
     scale: 0 1;
     }
    }
    .button:hover .choix__price{
    transform: translateX(-20px);
   
      }
     

     
    
  

  /********Coeur***************/

  .cont__icone{
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    align-items: start;
    margin: 20px 0 0 0;
    img{
      transition: opacity 2s linear;
    }
}

.heart-white{
   display: flex;
   position: absolute;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.heart-color{
  display: flex;
  position: absolute;
  width: 31px;
  height: 32px;
  z-index: 1;
}

.heart-white:hover{
opacity: 0;
}


/******Loader********/

.loader-container{
  z-index: 1;
  animation-name: loader;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  background: white;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dot{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  background: linear-gradient(182deg,rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 60%);
  color: white;
  font-family: "Shrikhand", serif;
  font-size: 50px;
  margin: 0 15px;
  animation: loader-move infinite 0.5s alternate;
}

.d1{
  animation-delay: 0.05s;
}
.d2{
  animation-delay: 0.1s;
}
.d3{
  animation-delay: 0.15s;
}
.d4{
  animation-delay: 0.20s;
}
.d5{
  animation-delay: 0.25s;
}
.d6{
  animation-delay: 0.30s;
}
.d7{
  animation-delay: 0.35s;
}
.d8{
  animation-delay: 0.40s;
}

@keyframes loader-move {
  100%{
    transform: translateY(-50px);
    
  }
}

@keyframes loader {
    0%{
      opacity: 1;
   }
   25%{
      opacity: 0.9;
   }
   50%{
      opacity: 0.4;
   }
   75%{
      opacity: 0.2;
   }
   100%{
      opacity: 0;
   }
}
@keyframes fadeIn {
      0%{
      opacity: 0;
   }
   25%{
      opacity: 0;
   }
   50%{
      opacity: 0;
   }
   75%{
      opacity: 0.8;
   }
   100%{
      opacity: 1;
   }

}