@charset "UTF-8";
/*******général*******/
/*******Plat menu******/
@keyframes plat {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.entree {
  animation-name: plat;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.plat {
  animation-name: plat;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.dessert {
  animation-name: plat;
  animation-duration: 5s;
  animation-timing-function: linear;
}

/*********Menu check*****/
.choix__valid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  transform-origin: 100%;
  scale: 0 1;
  transition-property: display scale;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
  display: none;
}

.icone__check {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
  font-size: 14px;
}

.button:hover .choix__valid {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1 1;
}
@starting-style {
  .button:hover .choix__valid {
    scale: 0 1;
  }
}

/********Coeur***************/
.cont__icone {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  align-items: start;
  margin: 20px 0 0 0;
}
.cont__icone img {
  transition: opacity 2s linear;
}

.heart-white {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.heart-color {
  display: flex;
  position: absolute;
  width: 31px;
  height: 32px;
  z-index: 1;
}

.heart-white:hover {
  opacity: 0;
}

/******Loader********/
@keyframes flip {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: solid;
}

.flipping-cards {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.card {
  width: 30px;
  height: 40px;
  background-color: #FF5C35;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  animation: flip 2s infinite;
}

.card:nth-child(1) {
  animation-delay: 0s;
}

.card:nth-child(2) {
  animation-delay: 0.3s;
}

.card:nth-child(3) {
  animation-delay: 0.6s;
}

.card:nth-child(4) {
  animation-delay: 0.9s;
}

.card:nth-child(5) {
  animation-delay: 1.2s;
}

.card:nth-child(6) {
  animation-delay: 1.5s;
}

.card:nth-child(7) {
  animation-delay: 1.8s;
}

.card:nth-child(8) {
  animation-delay: 2.1s;
}

/* footpage */
.footpage {
  width: 100%;
  height: 250px;
  color: white;
  display: flex;
  position: absolute;
  top: 1600px;
  flex-direction: column;
  justify-content: center;
  background-color: #363636;
}

.footpage__title {
  display: flex;
  width: 20%;
  height: 20%;
}
.footpage__title h4 {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Shrikhand", serif;
  letter-spacing: 1px;
  margin-left: 20px;
}

.footpage__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 80%;
}
.footpage__list .list__menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  padding-left: 20px;
}
.footpage__list li {
  display: flex;
  width: 100%;
}
.footpage__list li i {
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu__text {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 15px;
  line-height: 1.7;
}

.footpage__list i {
  color: white;
  width: 30px;
  height: 30px;
}

/******Logo******/
/*******Icone fleche*******/
p {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

/*****restaurant page*****/
.container-restaurant {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/*******header*******/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}

.container-logo {
  display: flex;
  width: 100%;
}

.intro__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: white;
}
.intro__logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
}
.intro__logo img {
  width: 150px;
}

.intro__icone {
  display: flex;
  width: 10%;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.intro__icone .icone__arrow {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.intro__img {
  display: flex;
  width: 100%;
  height: 80%;
}
.intro__img img {
  display: flex;
  width: 100%;
  object-fit: cover;
}

/*******Title restaurant*******/
.restaurant {
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1300px;
  background-color: #F6f6f6;
  border-radius: 50px 50px 0 0;
}
.restaurant .restaurant__title {
  display: flex;
  width: 100%;
  margin-right: 40px;
  justify-content: space-around;
  align-items: center;
}
.restaurant h2 {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin-top: 30px;
  margin-right: 20px;
}

/********Menu restaurant*******/
.restaurant__menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

/*******Menu title*******/
.menu__title {
  display: flex;
  width: 90%;
  height: 20%;
  flex-direction: column;
  justify-content: center;
}
.menu__title .title {
  height: 30px;
  display: flex;
  align-items: center;
}
.menu__title h3 {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__title .tiret {
  display: flex;
  width: 40px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #99e2d0;
}

/*********Menu********/
.button {
  display: flex;
  width: 90%;
  height: 70px;
  border-radius: 15px;
  border: none;
  background-color: #Ffffff;
  box-shadow: 2px 5px 15px rgb(183, 183, 183);
}

.list__plat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  gap: 15px;
}
.list__plat .plat__choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.list__plat a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: black;
}
.list__plat .choix__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin-left: 10px;
}
.list__plat .title__plat {
  width: 70%;
  display: flex;
  min-width: 0;
  align-items: center;
  height: 25px;
  font-size: 18px;
  white-space: nowrap;
}
.list__plat .title__plat h4 {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list__plat .text__plat {
  width: 80%;
  display: flex;
  min-width: 0;
  align-items: center;
}
.list__plat .text__plat p {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list__plat .choix__price {
  display: flex;
  width: 10%;
  align-items: end;
  margin-right: 5px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
}

/*********Bouton commander*****/
.commander {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.commander a {
  text-decoration: none;
}

.commander__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0 20px 0 20px;
  font-size: 16px;
  background: linear-gradient(182deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 60%);
  color: white;
  border-radius: 35px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  /********Général*****/
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-restaurant {
    width: 870px;
    display: flex;
  }
  .restaurant {
    width: 80%;
  }
  .restaurant .restaurant__title {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .restaurant .cont__icone {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .menu__title {
    width: 60%;
  }
  .button {
    width: 60%;
  }
  /**********Footer********/
  .footpage {
    flex-direction: row-reverse;
    justify-content: end;
    width: 100%;
    height: 80px;
    align-items: end;
  }
  .footpage__title {
    align-items: end;
    width: 15%;
    height: 100%;
  }
  .footpage__title h4 {
    display: flex;
    align-items: end;
    height: 100%;
    font-family: "Shrikhand", serif;
  }
  .footpage__title {
    letter-spacing: 1px;
  }
  .footpage__list {
    width: 600px;
    height: 100%;
    justify-content: end;
  }
  .footpage__list .list__menu {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: start;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  .footpage__list a {
    display: flex;
    justify-content: center;
    align-items: baseline;
    white-space: nowrap;
    margin-left: 20px;
  }
  .footpage__list i {
    display: flex;
    width: 10%;
    margin-bottom: 7px;
    align-items: baseline;
    justify-content: center;
    color: white;
  }
  .menu__text {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 1.7;
  }
}
@media screen and (min-width: 1024px) {
  .container-restaurant {
    width: 1124px;
  }
  .restaurant {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .container-restaurant {
    width: 1500px;
  }
  .restaurant {
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
